@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'kesiq';
  src: url('/fonts/KesiqDemoRegular-nAeVR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif !important;
}

.light {
  position: absolute;
  border-radius: 50%;
  animation: glow 5s infinite alternate;
}

.moveHorizontal {
  animation: moveHorizontal 5s infinite alternate;
  box-shadow: 0 0 20px rgb(255, 255, 0), 0 0 70px rgb(255, 165, 0), 0 0 90px rgb(255, 69, 0);
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgb(255, 255, 0), 0 0 20px rgb(255, 165, 0), 0 0 30px rgb(255, 69, 0);
  }

  to {
    box-shadow: 0 0 20px rgb(255, 255, 0), 0 0 100px rgb(255, 165, 0), 0 0 160px rgb(255, 69, 0);
  }
}

@keyframes moveHorizontal {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(40px);
  }
}